Redirect permanent /redirect/sub/permanent/ http://localhost:4445/
Redirect temp /redirect/sub/temp/ http://localhost:4445/
Redirect seeother /redirect/sub/seeother/ http://localhost:4445/
RedirectPermanent /redirect/sub/permanent2/ http://localhost:4445/
RedirectTemp /redirect/sub/temp2/ http://localhost:4445/
RedirectMatch seeother /redirect/match/(.+)$ http://localhost:4445/$1

Redirect 500 /invalid http://localhost:4445/

RewriteRule /redirect/rewrite/(.*)$ /$1
RewriteRule /redirect/rewrite_absolute/(.*)$ http://localhost:4445/$1
RewriteRule /redirect/rewrite_redirect/(.*)$ http://localhost:4445/$1 [R]
RewriteRule /redirect/rewrite_redirect301/(.*)$ http://localhost:4445/$1 [R=301]
RewriteRule /redirect/rewrite_redirect302/(.*)$ http://localhost:4445/$1 [R=302]
RewriteRule /redirect/rewrite_redirect303/(.*)$ http://localhost:4445/$1 [R=303]
RewriteRule /redirect/rewrite_NoCase/(.*)$ http://localhost:4445/$1 [NC]
RewriteRule /redirect/rewrite_401/(.*)$ - [G]
RewriteRule /redirect/rewrite_403/(.*)$ - [F]
RewriteRule /redirect/rewrite_last/(.*)$ /redirect/rewrite_next/$1 [L]
RewriteRule /redirect/rewrite_next/(.*)$ /redirect/rewrite_final/$1
