@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.test-success {
	list-style-image: url("jar:resource:///chrome/browser.jar!/skin/classic/global/icons/information-32.png");
}

.report-notification {
	list-style-image: url("jar:resource:///chrome/browser.jar!/skin/classic/global/icons/information-16.png");
}

.report-warning {
	list-style-image: url("jar:resource:///chrome/browser.jar!/skin/classic/global/icons/warning-16.png");
}

#throbber {
	list-style-image: url("jar:resource:///chrome/browser.jar!/skin/classic/global/icons/notloading_16.png");
}

:root[running="true"] #throbber {
	list-style-image: url("jar:resource:///chrome/browser.jar!/skin/classic/global/icons/loading_16.png");
}
