@import url("diff.css");

@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");
@namespace html url("http://www.w3.org/1999/xhtml");

.test-failure {
	list-style-image: url("bug.png");
	-moz-image-region: rect(0px 35px 45px 0px);
}

.test-error {
	list-style-image: url("bomb.png");
}

.test-success {
}

.report-notification {
	list-style-image: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/information-16.png");
}

.report-warning {
	list-style-image: url("jar:resource:///chrome/classic.jar!/skin/classic/global/icons/warning-16.png");
}

progressmeter[testcase-results] > .progress-bar {
	-moz-appearance: none;
}

progressmeter[testcase-results~="success"] > .progress-bar {
	background-color: green;
}

progressmeter[testcase-results~="passover"] > .progress-bar {
	background-color: gray;
}

progressmeter[testcase-results~="success"][testcase-results~="passover"] > .progress-bar {
	background-color: #408040;
}

progressmeter[testcase-results~="failure"] > .progress-bar,
progressmeter[testcase-results~="error"] > .progress-bar {
	background-color: red !important;
}

/*
*[role="running-status"] {
	color: white;
}
*/

.testcase-summary {
	border: threedshadow;
}

.testcase-title {
	font-size: 1.4em;
/*  font-family: serif; */
	text-align: center;
}

.testcase-title:hover {
	background-color: white;
}

*[role=result] {
	font-weight: bold;
}

*[role=description] {
	font-style: italic;
	font-size: 1.2em;
}

*[role=vs] label {
	margin: 0;
	padding: 0;
	min-width: 0;
}
*[role=vs] description {
	margin-top: 0;
	padding-top: 0;
}

*[role=description],
*[role=error],
*[role=additionalInfo],
*[role=vs] label,
*[role=vs] description {
	-moz-user-focus: normal;
	-moz-user-select: text;
	cursor : text;
	white-space: pre-wrap; /* Firefox 3.0 or later */
	white-space: -moz-pre-wrap; /* Firefox 2.0.0.* */
	font-family: monospace;
	line-height: 1;
}

*[role=vs] row {
	border-top: 1px solid ThreeDLightShadow;
	padding-top: 0.2em;
}

*[role=vs] description[role="diff-value"] {
	white-space: pre;
}


*[role=result-box] {
	width: 72px;
}


[role=additionalInfo] {
	margin-top: 5px;
	margin-bottom: 5px;
}


.server-report {
	margin-bottom: 1em;
}

.server-report label {
	padding: 0.5em;
	-moz-box-flex: 1;
}
